@font-face {
  font-family: 'iconfont';
  /* project id 278569 */
  src: url("//at.alicdn.com/t/font_uh53oek8man61or.eot");
  src: url("//at.alicdn.com/t/font_uh53oek8man61or.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_uh53oek8man61or.woff") format("woff"), url("//at.alicdn.com/t/font_uh53oek8man61or.ttf") format("truetype"), url("//at.alicdn.com/t/font_uh53oek8man61or.svg#iconfont") format("svg"); }

.top {
  height: 68px;
  width: 100%;
  background: #f6f6f6;
  box-shadow: 1px 1px 3px 3px #cbcaca; }
  .top .top-con {
    width: 1200px;
    height: 100%;
    margin: 0 auto; }
    .top .top-con .logo {
      width: 200px;
      height: 100%;
      float: left; }
      .top .top-con .logo img {
        float: left; }
      .top .top-con .logo .city {
        float: left;
        width: 60px;
        height: 100%;
        margin-left: 20px;
        line-height: 68px;
        text-align: center;
        cursor: pointer; }
        .top .top-con .logo .city span {
          font-family: 'iconfont';
          font-size: 14px;
          float: right; }
      .top .top-con .logo .citys {
        width: 200px;
        height: 200px;
        background: red;
        position: absolute;
        left: 190px;
        top: 55px;
        display: none; }
        .top .top-con .logo .citys .box {
          display: none;
          margin-top: -12px;
          margin-left: 30px;
          width: 0;
          height: 0;
          border-top: 6px solid #f6f6f6;
          border-right: 6px solid #f6f6f6;
          border-bottom: 6px solid red;
          border-left: 6px solid #f6f6f6; }
    .top .top-con .nav {
      float: left;
      margin-left: 70px;
      height: 100%;
      width: 380px;
      line-height: 68px;
      font-size: 16px;
      font-size: 1.6rem; }
      .top .top-con .nav span:nth-child(2), .top .top-con .nav span:nth-child(3), .top .top-con .nav span:nth-child(4) {
        margin-left: 41px; }
    .top .top-con .login {
      width: 230px;
      height: 100%;
      float: right;
      line-height: 68px;
      font-size: 12px;
      font-size: 1.2rem; }
      .top .top-con .login span {
        font-family: 'iconfont';
        color: #ec6c00; }
      .top .top-con .login .yonghu {
        float: left;
        margin-left: 10px; }
        .top .top-con .login .yonghu span {
          margin-left: 10px;
          color: #000; }
      .top .top-con .login .shouji {
        float: right;
        margin-right: 10px;
        cursor: pointer; }
      .top .top-con .login .shouji-con {
        width: 230px;
        height: 50px;
        float: right;
        line-height: 50px;
        font-size: 16px;
        text-align: center;
        border: 1px solid #ccc;
        display: none;
        background: #f6f6f6; }

.location {
  height: 54px;
  width: 1200px;
  margin: 0 auto;
  line-height: 54px;
  font-size: 14px;
  font-size: 1.4rem;
  color: #7a7a7a; }

.con {
  width: 1200px;
  height: auto;
  margin: 0 auto; }
  .con .con-left {
    width: 256px;
    height: 380px;
    border: 1px solid #dddddd;
    overflow: hidden;
    float: left; }
    .con .con-left span {
      height: 37px;
      width: 256px;
      margin-left: 40px;
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 37px; }
    .con .con-left .true1, .con .con-left .true2, .con .con-left .true3, .con .con-left .true4, .con .con-left .true5, .con .con-left .true6, .con .con-left .true7 {
      font-family: 'iconfont'; }
    .con .con-left .con-left-tit {
      background: #f7f7f7;
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd; }
    .con .con-left .con-left-tit.one {
      border-top: none; }
  .con .con-right {
    width: 781px;
    height: auto;
    float: right;
    margin-right: 140px;
    margin-bottom: 100px;
    overflow: hidden; }
    .con .con-right .con-right-top {
      height: 37px;
      width: 100%; }
    .con .con-right .con-right-con {
      width: 540px;
      height: auto;
      margin: 30px auto 0 auto;
      font-size: 16px; }
      .con .con-right .con-right-con span {
        color: #ff0000; }
      .con .con-right .con-right-con .villagename {
        width: 100%;
        height: 30px;
        line-height: 30px; }
        .con .con-right .con-right-con .villagename .name {
          width: 418px;
          height: 29px;
          border: 1px solid #d9d9d9;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          -webkit-border-radius: 4px; }
      .con .con-right .con-right-con .mohu {
        width: 100%;
        height: 200px;
        margin-top: 10px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        display: none;
        font-size: 16px; }
        .con .con-right .con-right-con .mohu p {
          margin-left: 15px;
          margin-top: 5px; }
      .con .con-right .con-right-con .find {
        margin-top: 25px;
        width: 100px;
        height: 30px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        text-align: center;
        line-height: 30px;
        background: #f2f2f2;
        cursor: pointer; }
        .con .con-right .con-right-con .find:active {
          color: #fff;
          background: #000; }
      .con .con-right .con-right-con .map {
        width: 100%;
        height: auto;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        margin-top: 10px; }
        .con .con-right .con-right-con .map #allmap {
          width: 100%;
          height: 100%; }
      .con .con-right .con-right-con .area {
        width: 100%;
        height: 30px;
        margin-top: 25px;
        line-height: 30px; }
        .con .con-right .con-right-con .area select {
          width: 190px;
          height: 30px;
          color: #a7a7a7;
          border: 1px solid #d9d9d9;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          -webkit-border-radius: 4px; }
        .con .con-right .con-right-con .area select:nth-child(3) {
          margin-left: 12px; }
      .con .con-right .con-right-con .huxing {
        width: 100%;
        height: 30px;
        margin-top: 25px;
        line-height: 30px;
        margin-left: 20px; }
        .con .con-right .con-right-con .huxing input {
          width: 74px;
          height: 30px;
          border: 1px solid #d9d9d9;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          -webkit-border-radius: 4px;
          margin-left: 5px;
          margin-right: 5px; }
      .con .con-right .con-right-con .xingshi {
        width: 100%;
        height: 30px;
        margin-top: 25px;
        line-height: 30px; }
        .con .con-right .con-right-con .xingshi input {
          margin-left: 5px; }
        .con .con-right .con-right-con .xingshi #b {
          margin-left: 56px; }
        .con .con-right .con-right-con .xingshi select {
          width: 119px;
          height: 30px;
          color: #a7a7a7;
          border: 1px solid #d9d9d9;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          -webkit-border-radius: 4px;
          margin-left: 5px; }
        .con .con-right .con-right-con .xingshi #d {
          margin-left: 20px; }
      .con .con-right .con-right-con .mianji {
        width: 100%;
        height: 30px;
        margin-top: 25px;
        line-height: 30px;
        font-size: 16px;
        margin-left: 20px; }
        .con .con-right .con-right-con .mianji .mianji-con-left {
          float: left; }
        .con .con-right .con-right-con .mianji .mianji-con {
          margin-left: 10px;
          margin-right: 10px;
          height: 28px;
          width: 431px;
          float: left;
          font-size: 16px;
          border: 1px solid #d9d9d9;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          -webkit-border-radius: 4px;
          color: #666666;
          line-height: 25px; }
          .con .con-right .con-right-con .mianji .mianji-con input {
            height: 26px;
            width: 370px;
            margin-left: 2px;
            color: #666666; }
          .con .con-right .con-right-con .mianji .mianji-con .h {
            width: 378px; }
        .con .con-right .con-right-con .mianji .true5, .con .con-right .con-right-con .mianji .true6 {
          display: block;
          float: right; }
      .con .con-right .con-right-con .payment {
        width: 100%;
        height: 30px;
        margin-top: 25px;
        line-height: 30px;
        font-size: 16px; }
        .con .con-right .con-right-con .payment .two {
          margin-left: 40px; }
      .con .con-right .con-right-con .phone {
        width: 100%;
        height: 30px;
        margin-top: 25px;
        line-height: 30px;
        font-size: 16px; }
        .con .con-right .con-right-con .phone input {
          border: 1px solid #d9d9d9;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          -webkit-border-radius: 4px;
          height: 100%;
          width: 200px; }
      .con .con-right .con-right-con .pic-all {
        width: 100%;
        height: 30px;
        margin-top: 25px;
        line-height: 30px;
        font-size: 16px;
        cursor: pointer; }
        .con .con-right .con-right-con .pic-all .pic {
          width: 100px;
          height: 30px;
          background: #f2f2f2;
          border: 1px dashed #ccc;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          -webkit-border-radius: 4px;
          text-align: center;
          line-height: 30px;
          font-size: 25px;
          color: #ccc;
          float: right;
          margin-right: 350px;
          position: relative; }
          .con .con-right .con-right-con .pic-all .pic .file {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0; }
      .con .con-right .con-right-con .tupian {
        width: 200px;
        height: 200px;
        margin: 10px 0;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        clear: both;
        display: none;
        position: relative; }
        .con .con-right .con-right-con .tupian .tupian-round {
          width: 20px;
          height: 20px;
          background: #888;
          color: white;
          border-radius: 10px;
          line-height: 20px;
          text-align: center;
          cursor: pointer;
          position: absolute;
          top: 4px;
          right: 4px; }
      .con .con-right .con-right-con .text {
        width: 100%;
        height: 200px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        outline: none;
        font-size: 16px;
        margin-top: 10px; }
      .con .con-right .con-right-con .tijiao {
        width: 160px;
        height: 40px;
        box-shadow: 1px 1px 3px 3px #999;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        background: #ec6c00;
        border-radius: 4px;
        color: #fff;
        margin-left: 80px;
        margin-top: 30px;
        margin-bottom: 10px;
        cursor: pointer; }
        .con .con-right .con-right-con .tijiao:active {
          box-shadow: 1px 1px 3px 3px #999 inset; }

.bottom {
  height: 65px;
  width: 100%;
  padding: 25px 0;
  background: #333;
  overflow: hidden; }
  .bottom .bottom-con-left {
    height: 65px;
    width: 1200px;
    margin: 0 auto; }
    .bottom .bottom-con-left .nav {
      color: #ccc;
      font-size: 12px;
      margin-bottom: 2px; }
    .bottom .bottom-con-left .nav-solid {
      color: #d2d2d2;
      margin: 22px 5px  0 5px; }
    .bottom .bottom-con-left img {
      margin-right: 5px;
      float: left; }
    .bottom .bottom-con-left .nav.h {
      margin-left: 15px; }
    .bottom .bottom-con-left .img {
      height: 59px;
      width: 115px;
      float: right;
      background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      -ms-background-size: cover; }
